spring:
  datasource:
    url: jdbc:mysql://120.78.90.26:3306/STUDY_MINE?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 123456
  redis:
    ###Redis数据库索引(default: 0 )
    database: 0
    host: 120.78.90.26?
    port: 6379
    password: 123456
    jedis:
      pool:
        ###连接池最大连接数(负数表示没有限制)
        max-active: 8
        ###连接池最大阻塞时间(负数表示没有时间限制)
#        max-wait: -1
        ###连接池最大空闲连接
        max-idle: 5
        ###连接池最小空闲连接
        min-idle: 0
    ###连接超时时间(毫秒)
#    timeout: 10000

server:
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30
  port: 8081
  servlet:
    context-path: /

#mybatis plus
mybatis-plus:
  mapper-locations: classpath*:com/nandu/taike/mapper/**/*Mapper.xml
  type-aliases-package: com.nandu.taike.pojo.*
  #typeEnumsPackage: com.baomidou.springboot.entity.enums
  global-config:
    #刷新mapper 调试神器
    db-config:
      #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
      id-type: AUTO
      #字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
      field-strategy: not_empty
      #驼峰下划线转换
      column-underline: true
      #数据库大写下划线转换
      #capital-mode: true
      #逻辑删除配置
      logic-delete-value: 1
      logic-not-delete-value: 0
      db-type: mysql
    refresh: true
      #自定义填充策略接口实现
      #meta-object-handler: com.baomidou.springboot.xxx
      #自定义SQL注入器
  #sql-injector: com.baomidou.mybatisplus.extension.injector.LogicSqlInjector
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false